In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('./data1/training.csv')
test_data = pd.read_csv('./data1/test.csv')

In [3]:
data.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [4]:
test_data.head()

                                                text  label
0  im feeling rather rotten so im not very ambiti...      0
1          im updating my blog because i feel shitty      0
2  i never make her separate from me because i do...      0
3  i left with my bouquet of red and yellow tulip...      1
4    i was feeling a little vain when i did this one      0

In [5]:
data.shape

(16000, 2)

In [6]:
test_data.shape

(2000, 2)

In [7]:
data.isna().sum()

text     0
label    0
dtype: int64

In [8]:
test_data.isna().sum()

text     0
label    0
dtype: int64